<!doctype html>
{% extends "base.html" %}
{% block content %}
<div class="col-xs-12 col-md-12">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">{{b.name}}</li>
  </ol>
  <a href="/article/detail/{{b.id}}" class="btn btn-primary">发表文章</a>
    <br />
    <br />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>标题</th>
        <th>作者</th>
        <th>创建时间</th>
        <th>最后更新时间</th>
      </tr>
    </thead>
    <tbody>
      {% for a in articles %}
      <tr>
        <td><a href="/article/detail_s/{{a.id}}">{{ a.title }}</a></td>
        <td>{{a.content }}</td>
        <td>{{a.create_timestamp|date:"Y-m-d P" }}</td>
        <td>{{a.last_update_timestamp|date:"Y-m-d P" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>    
    <nav>
    <ul class="pagination">
        {% if has_previous %}
        <li><a href="?page_no=1">首页</a></li>
        <li><a href="?page_no={{previous_link}}">&laquo;</a></li>
        {% endif %}
        {% for page in page_links %}
          {% ifequal page current_no %}
          <li class="active"><a>{{page}}</a></li>
          {% else %}
          <li><a href="?page_no={{page}}">{{page}}</a></li>  
          {% endifequal %}  
        {% endfor %} 
        {% if has_next %}
        <li><a href="?page_no={{next_link}}">&raquo;</a></li>           
        {% endif %}
        <li><a href="?page_no={{page_cnt}}">尾页</a></li>
    </ul>
  </nav>   
</div>
{% endblock %}